{% extends 'main_template.html' %}
{% load render_partial %}
{% load humanize %}

{% block title %}
Invoice
{% endblock title %}

{% block content %}

		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a>
									/
								</li>
								
								<li class="breadcrumb-item active" aria-current="page">پرداخت</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>پرداخت</h1></div>
				</div>
			</div>
			<div class="checkout block">
				<div class="container">
					<div class="row">
						<div class="col-12 mb-3">
							<div class="alert alert-lg alert-primary">حساب کاربری دارید؟ <a href="login.html">وارد حساب خود شوید</a></div>
						</div>
						<div class="col-12 col-lg-6 col-xl-7">
							<div class="card mb-lg-0">
								<div class="card-body">
									<h3 class="card-title">جزئیات پرداخت</h3>

									
                                    <form action="">
                                        {% csrf_token %}
                                    </form>

									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="checkout-first-name">Name</label>
                                            {{form.name}}
										</div>
										<div class="form-group col-md-6">
											<label for="checkout-last-name">Family</label>
                                            {{form.family}}
										</div>
									</div>
                                    <div class="form-row">
										<div class="form-group col-md-6">
											<label for="checkout-email">Email</label>
                                            {{form.email}}
                                        </div>
										<div class="form-group col-md-6">
											<label for="checkout-phone">Phone number</label>
                                            {{form.phone_number}}
										</div>
									</div>
									<div class="form-group">
										<label for="checkout-street-address">Address</label>
                                        {{form.address}}
									</div>
								</div>
								<div class="card-divider"></div>
								<div class="card-body">
									<div class="form-group">
										<label for="checkout-comment">Description<span class="text-muted">(اختیاری)</span></label>
                                        {{form.description}}
									</div>
								</div>
								<div class="card-body">
									<div class="form-group">
                                        {{form.payment_type}}
									</div>
								</div>
							</div>
						</div>


						
						<div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
							<div class="card mb-0">
								<div class="card-body">
									<h3 class="card-title">سفارش شما</h3>
									<table class="checkout__totals">
										<thead class="checkout__totals-header">
											<tr>
												<th>Product</th>
												<th>Quentity</th>
												<th>Total Price</th>
											</tr>
										</thead>
										<tbody class="checkout__totals-products">
                                            {% for item in shop_cart %}
											<tr>
												<td>{{item.product}}</td>
												<td>{{item.qty}}</td>
												<td>{{item.price|intcomma}} $</td>
											</tr>
                                            {% endfor %}
										</tbody>
										<tbody class="checkout__totals-subtotals">
											<tr>
												<th colspan="2">Price</th>
												<td>{{total_price}}</td>
											</tr>
											<tr>
												<th colspan="2">Delivery</th>
												<td>{{delivery|intcomma}} $</td>
											</tr>
                                            <tr>
												<th colspan="2">Tax</th>
												<td>{{tax|intcomma}} $</td>
											</tr>
										</tbody>
										<tfoot>
											<tr style="color: green; font-weight: 900;">
												<th>Total price</th>
												<td colspan="2">{{order_final_price|intcomma}} $</td>
											</tr>
										</tfoot>
									</table>
									<div class="payment-methods">
										<ul class="payment-methods__list">
											<li class="payment-methods__item">
												<label class="payment-methods__item-header"><span class="payment-methods__item-radio input-radio"><span class="input-radio__body"><input class="input-radio__input" name="checkout_payment_method" type="radio"> <span class="input-radio__circle"></span> </span>
													</span><span class="payment-methods__item-title">پرداخت آنلاین</span></label>
												<div class="payment-methods__item-container">
													<div class="payment-methods__item-description text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</div>
												</div>
											</li>
											<li class="payment-methods__item">
												<label class="payment-methods__item-header"><span class="payment-methods__item-radio input-radio"><span class="input-radio__body"><input class="input-radio__input" name="checkout_payment_method" type="radio"> <span class="input-radio__circle"></span> </span>
													</span><span class="payment-methods__item-title">پرداخت در محل</span></label>
												<div class="payment-methods__item-container">
													<div class="payment-methods__item-description text-muted">لورم ایپسوم متن ساختگی با تولید</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="checkout__agree form-group">
										<div class="form-check"><span class="form-check-input input-check"><span class="input-check__body"><input class="input-check__input" type="checkbox" id="checkout-terms"> <span class="input-check__box"></span>
											<svg class="input-check__icon" width="9px" height="7px">
												<use xlink:href="images/sprite.svg#check-9x7"></use>
											</svg>
											</span>
											</span>
											<label class="form-check-label" for="checkout-terms">من <a target="_blank" href="terms-and-conditions.html">قوانین و مقررات</a> را خوانده و موافقم *</label>
										</div>
									</div>
									<button type="submit" class="btn btn-primary btn-xl btn-block">ثبت سفارش</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->

{% endblock content %}

