{% extends 'main_template.html' %}
{% load render_partial %}

{% block title %}
Shop Cart
{% endblock title %}


{% block content %}

<table class="table table-bordered">
    <tr>
        <th>Row</th>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>#</th>
    </tr>
    {% for item in shop_cart %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>
            <img src="{{media_url}}{{item.product.image_name}}" alt="" width="100">
        </td>
        <td>{{item.product.product_name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.total_price}}</td>
        <td>
            <a onclick="delete_from_shop_cart({{item.product.id}})" style="cursor: pointer;">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>




{% endblock content %}

